.jumbotron {
	height: 300px;
	text-align: center;
}

#navLogo {
	height: 47px;
	width: 106px;
	margin-top: -17px;
	margin-left: 10px;
}

.bigLogo {
	height: 188px;
	width: 424px;
	margin-top: -50px;
	margin-bottom: 20px;
}