.jumbotron {
	height: 300px;
	text-align: center;
}

#navLogo {
	height: 45px;
	width: 52.4px;
	margin-top: -10px;
	margin-left: 10px;
	margin-right: -10px;
}

.bigLogo {
	height: 188px;
	width: 424px;
	margin-top: -50px;
	margin-bottom: 20px;
}

#devIntro {
	margin-top: 30px;
	margin-bottom: 30px;
}

.carousel-inner > .item {
    height: 550px;
    background-size: cover;
    background-position: center;
}

#carouselDiv {
	margin-bottom: 50px;
}